In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [16]:
average_age_men = df[df['sex']=='Male']['age'].mean()

39.43354749885268

In [25]:
bach_edu = df[df['education'] == 'Bachelors'].shape[0]

In [26]:
tot_edu = df['education'].shape[0]

In [59]:
# percentage_bachelors = 
round(bach_edu/tot_edu*100,2)

16.45

In [28]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [62]:
higher_education_rich = round(higher_education[higher_education['salary'] == '>50K']['salary'].count()/higher_education['salary'].shape[0]*100,2)
higher_education_rich

46.54

In [39]:
lower_education_rich = lower_education[lower_education['salary'] == '>50K']['salary'].count()/lower_education['salary'].shape[0]
lower_education_rich

0.173713601914639

In [40]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [43]:
min_work_hours = df['hours-per-week'].min()

In [51]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]['hours-per-week'].count()
num_min_workers

20

In [55]:
rich_percentage = df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].shape[0]/num_min_workers

0.1

In [56]:
highest_earning_country = df[df['salary'] == '>50K'].groupby('native-country')['native-country'].count().max()
highest_earning_country_percentage = (highest_earning_country / df.groupby('native-country')['native-country'].count()).max()
highest_earning_country_percentage

7171.0

In [57]:
top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')].groupby('occupation')['occupation'].count().max()
top_IN_occupation

25